.home-page{
    width: 100%;
    height: 100%;
}
/* home header */
.home-header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.home-header .brand{
    height: 50px;
    width: 200px;
}
.home-header .brand img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.home-header .acc{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000080;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-radius: 100%;
    cursor: pointer;
}
.initials{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
 .acc-card{
    position: absolute;
    top: 75px;
    right: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e0e0e0;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    z-index: 1000;
}
.close-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 500;
    cursor: initial;
}
.sign-out{
    width: 90%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
    color: #fff;
    background-color: #000080;
    font-weight: bold;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
}
.sign-out h4{
    margin-right: 10px;
}
.pages-header{
    margin: 10px 0;
    font-family: 'Lato', sans-serif;
}
.form-page{
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.form-page h4{
    margin: 5px 0;
    font-family: 'Lato', sans-serif;
}
.form-page .section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-page .section h5{
    margin: 5px 0;
    font-family: 'Lato', sans-serif;
}
.question-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.question-input select,
.question-input input{
    width: 100%;
    height: 45px;
    padding-left: 2px;
    margin-bottom: 10px;
    border: 1px solid #80808098;
    border-radius: 5px;
    outline: none;
}
.question-input input:focus{
    border: 2px solid #000080;
}
.question-input label{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
.form-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.form-nav-btn{
    width: 100px;
    height: 45px;
    display: flex;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    background-color: #000080;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.form-nav-btn h4{
    margin-right: 8px;
}

@media(min-width: 769px){
    .acc-card{
        right: initial;
    }
}