/* home header */
.home-header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.home-header .brand{
    height: 50px;
    width: 200px;
}
.home-header .brand img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.home-header .initials{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000080;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-radius: 100%;
    cursor: pointer;
}